.root {
  width: 0;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(4, 4, 4);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  display: none;
  img,
  button {
    transform: translate(0, -20px);
    opacity: 0;
  }
}
.open {
  overflow: hidden !important;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  line-height: 24px;
  padding: 1rem 1.5rem;
}

.logo {
  width: 80px;
  margin: 1em;
}

.navLinks {
  text-align: center;
  li {
    transform: translate(-150px, 0);
    opacity: 0;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0.5em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.icon {
  color: white;
  background-color: white;
}
